session_name: linux-next updates
windows:
- window_name: main
  focus: true
  layout: tiled
  panes:
  - shell: dbxe
    shell_command: cbl_upd_krnl next-llvm
    start_directory: $ENV_FOLDER/pkgbuilds/linux-next-llvm
    enter: false
    focus: true
  - shell: dbxe
    shell_command: cbl_rb_fd
    start_directory: $CBL_BLD/fedora
    enter: false
  - shell: dbxe
    shell_command: cbl_rb_pi
    start_directory: $CBL_BLD/rpi
    enter: false
  - shell: dbxe
    shell_command: cbl_upd_lnx_p n
    start_directory: $CBL_BLD_P/linux-next
    enter: false
