session_name: main
before_script: ./start-distrobox.fish
windows:
- window_name: btop and distrobox
  panes:
  - shell: /usr/bin/fish
    shell_command: btop --utf-force
  - shell: /usr/bin/fish -c dbxe
    shell_command:
    - cmd: cbl_bld_all
      enter: false
- window_name: host and distrobox
  layout: 775f,269x53,0,0[269x41,0,0,3,269x11,0,42,4]
  focus: true
  panes:
  - shell: /usr/bin/fish
    shell_command:
    - cmd: cbl_qualify_next
      enter: false
    focus: true
  - shell: /usr/bin/fish -c "have_dev_kvm_access; and dbxe"
    shell_command:
    - cmd: cbl_vmm run; and exit
      enter: false
