[Unit]
Description=Mount Synology NAS folder at boot

[Mount]
What=192.168.1.193:/volume1/Storage
Where=/mnt/nas
Options=vers=4
Type=nfs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
